<main>
    <div class="container-sm d-flex justify-content-center">
    <h4 class="d-flex align-items-center" style="margin: 5px; font-size: 15px">Name:</h4>
    <input [(ngModel)]="name" class="form-control" type="text" style="width: 50%;">
</div>

<div class="d-flex justify-content-center">    
    <button (click)="search()" type="button" class="btn btn-outline-primary" style="width: 15%; margin: 10px;">Search</button>
</div>

<div class="d-flex justify-content-center">
    <div class="card" style="width: 15rem;">
        <img src="{{urlImage}}" class="card-img-top" alt="Foto Pokemon">
        <div class="card-body" style="background-color: #f8f9fa;">
          <p class="card-text">
            <b>Programador:</b> Persona que tiene relaciones más duraderas y profundas con una computadora que con otra persona”.
          </p>
        </div>
      </div>
</div>
</main>
